<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À Propos</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/ressource.css">
</head>

<body>
    <header>
        <a href="/"><img class="logo" src="/static/img/futurlogo.png" alt="logo"></a>
        <p class="nomsite">Canal Moins</p>
        <nav>
            <ul class="navlinks">
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"> <button> Page</button></a>



    </header>
</body>

</html>