<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/acteurs.css">
</head>

<body>
    <header>
        <div class="logoname"><a href="/" class="logo-link"><img class="logo" src="/static/img/futurlogo.png"
                    alt="logo"></a>
            <a href="/" class="logo-link">
                <p class="nomsite">Canal Moins</p>
            </a>
        </div>
        <nav>
            <ul class="navlinks">
                <li><a href="/recherche">Recherche</a></li>
                <li><a href="/about">À Propos</a></li>
            </ul>
        </nav>
        <a href="/recherche"><img src="/static/img/recherche.png" alt="Logo Recherche"></a>
        <a href="/ressources"><img src="/static/img/infos.png" alt="Logo Information"></a>
        <a href="/favoris"> <img src="/static/img/favoris.png" alt="Logo Favoris"></a>
        <a class="signbtn" href="login"> <button>Se connecter</button></a>
    </header>


    <div class="filmspopulaires">
        <h1>Films Populaires</h1>
        <div class="film">
            {{ range .PopularFilms }}
            <div class="eachfilm">
                <div class="film-content">
                    <img src="{{ .Poster_path }}" alt="Poster du film" class="pfilmposter">
                    <form method="post" action="/add_favoris" class="favform">
                        <input type="hidden" name="user" value="1">
                        <input type="hidden" name="titre" value="{{ .Title}}">
                        <button type="submit">❤</button>
                    </form>
                    <div class="resume">
                        <p>{{ .Overview }}</p>
                    </div>
                </div>
                <h2>{{ .Title }}</h2>
                <p class="releasedate">{{ .Release_date }}</p>
            </div>
            {{ end }}
        </div>
    </div>
</body>

</html>