<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/collection.css">
</head>

<body>
    <header>
        <div class="logoname"><a href="/" class="logo-link"><img class="logo" src="/static/img/futurlogo.png"
                    alt="logo"></a>
            <a href="/" class="logo-link">
                <p class="nomsite">Canal Moins</p>
            </a>
        </div>
        <nav>
            <ul class="navlinks">
                <li class="link-collection"><a href="/collection">Collection</a></li>
                <li class="link-recherche"><a href="/recherche">Recherche</a></li>
                <li class="link-about"><a href="/about">À Propos</a></li>
            </ul>
        </nav>
        <a href="/recherche" class="link-recherche"><img src="/static/img/recherche.png" alt="Logo Recherche"></a>
        <a href="/ressources" class="link-ressources"><img src="/static/img/infos.png" alt="Logo Information"></a>
        <a href="/favoris" class="link-favoris"> <img src="/static/img/favoris.png" alt="Logo Favoris"></a>
        <a class="signbtn link-login" href="login"> <button>Se connecter</button></a>
    </header>


    <div class="filmspopulaires">
        <h1>Films Populaires</h1>
        <div class="film">
            {{ range .PopularFilms }}
            <div class="eachfilm">
                <div class="film-content">
                    <img src="{{ .PosterPath }}" alt="Poster du film" class="pfilmposter">
                    <form method="post" action="/add_favoris">
                        <input type="hidden" name="titre" value="{{ .Title }}">
                        <input type="hidden" name="overview" value="{{ .Overview }}">
                        <input type="hidden" name="release_date" value="{{ .ReleaseDate }}">
                        <input type="hidden" name="poster_path" value="{{ .PosterPath }}">
                        <input type="hidden" name="vote_average" value="{{ .VoteAverage }}">
                        <button type="submit">❤</button>
                    </form>

                    <div class="resume">
                        <p>{{ .Overview }}</p>
                    </div>
                </div>
                <h2>{{ .Title }}</h2>
                <p class="releasedate">{{ .ReleaseDate }}</p>
            </div>
            {{ end }}
        </div>
    </div>
</body>

</html>