<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/collection.css">
</head>

<body>
    <header>
        <a href="/"><img class="logo" src="/static/img/futurlogo.png" alt="logo"></a>
        <nav>
            <ul class="navlinks">
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"> <button> Page</button></a>
    </header>


    <div class="filmspopulaires">
        <h1>Films Populaires</h1>
        <div class="film">
            {{ range .PopularFilms }}
            <div class="eachfilm">
                <img src="{{ .Poster_path }}" alt="Poster du film" class="pfilmposter">

                <h2>{{ .Title }}</h2>
                <p class="releasedate">{{ .Release_date }}</p>
            </div>
            {{ end }}
        </div>
    </div>
</body>

</html>