<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoris</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/favoris.css">
</head>

<body id="page-favoris">
    <header>
        <div class="logoname"><a href="/" class="logo-link"><img class="logo" src="/static/img/futurlogo.png"
                    alt="logo"></a>
            <a href="/" class="logo-link">
                <p class="nomsite">Canal Moins</p>
            </a>
        </div>
        <nav>
            <ul class="navlinks">
                <li class="link-collection"><a href="/collection">Collection</a></li>
                <li class="link-recherche"><a href="/recherche">Recherche</a></li>
                <li class="link-about"><a href="/about">À Propos</a></li>
            </ul>
        </nav>
        <a href="/recherche" class="link-recherche"><img src="/static/img/recherche.png" alt="Logo Recherche"></a>
        <a href="/ressources" class="link-ressources"><img src="/static/img/infos.png" alt="Logo Information"></a>
        <a href="/favoris" class="link-favoris"> <img src="/static/img/favoris.png" alt="Logo Favoris"></a>
        <a class="signbtn link-login" href="login"> <button>Se connecter</button></a>



    </header>
</body>

</html>