<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoris</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/favoris.css">
</head>


<body id="page-favoris">
   <header>
        <div class="logoname"><a href="/" class="logo-link"><img class="logo" src="/static/img/futurlogo.png"
                    alt="logo"></a>
            <a href="/" class="logo-link">
                <p class="nomsite">Canal Moins</p>
            </a>
        </div>
        <nav>
            <ul class="navlinks">
                <li class="link-collection"><a href="/collection">Collection</a></li>
                <li class="link-recherche"><a href="/recherche">Recherche</a></li>
                <li class="link-about"><a href="/about">À Propos</a></li>
            </ul>
        </nav>
        <a href="/recherche" class="link-recherche"><img src="/static/img/recherche.png" alt="Logo Recherche"></a>
        <a href="/ressources" class="link-ressources"><img src="/static/img/infos.png" alt="Logo Information"></a>
        <a href="/favoris" class="link-favoris"> <img src="/static/img/favoris.png" alt="Logo Favoris"></a>
        <a class="signbtn link-login" href="login"> <button>Se connecter</button></a>
    </header>

    <!-- MAIN CONTENT -->
    <main class="favoris-container">

        <h1>Mes Favoris</h1>
        <p class="subtitle">Vos films et séries préférés</p>

        <!-- FILTER TABS -->
        <div class="favoris-tabs">
            <button class="tab active">Tous </button>
            <button class="tab">Films </button>
            <button class="tab">Séries </button>
        </div>

        <section class="cards-grid">

            {{range .}}
            <article class="card">

                <div class="card-poster">
                    {{if .PosterPath}}
                    <img src="https://image.tmdb.org/t/p/w300{{.PosterPath}}" alt="{{.Title}}">
                    {{end}}

                    <span class="badge">Film </span>

                    <span class="heart active">♥</span>
                </div>

                <div class="card-info">
                    <h3 class="card-title">{{.Title}}</h3>

                    <div class="card-meta">
                        <span class="year">{{.ReleaseDate}}</span>
                        <span class="rating">
                            ⭐ {{printf "%.1f" .VoteAverage}}
                        </span>
                    </div>
                </div>

            </article>
            {{else}}
            <p class="empty">Aucun favori pour le moment.</p>
            {{end}}

        </section>

    </main>

</body>
</html>
