<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/index.css">
</head>

<body>
    <header>
        <div class="logoname"><a href="/" class="logo-link"><img class="logo" src="/static/img/futurlogo.png"
                    alt="logo"></a>
            <a href="/" class="logo-link">
                <p class="nomsite">Canal Moins</p>
            </a>
        </div>
        <nav>
            <ul class="navlinks">
                <li><a href="/collection">Collection</a></li>
                <li><a href="/recherche">Recherche</a></li>
                <li><a href="/about">À Propos</a></li>
            </ul>
        </nav>
        <a href="/recherche"><img src="/static/img/recherche.png" alt="Logo Recherche"></a>
        <a href="/ressources"><img src="/static/img/infos.png" alt="Logo Information"></a>
        <a href="/favoris"> <img src="/static/img/favoris.png" alt="Logo Favoris"></a>
        <a class="signbtn" href="login"> <button>Se connecter</button></a>



    </header>

    <img src="/static/img/4645916.jpg" class="backgroundimg">
</body>

</html>