<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/login.css">
</head>

<body>
    <header>
        <a href="/"> <img class="logo" src="/static/img/futurlogo.png" alt="logo"></a>
        <p class="nomsite">Canal Moins</p>
        <nav>
            <ul class="navlinks">
                <li> <a href="/films">Films</a></li>
                <li><a href="/series">Séries</a></li>
                <li><a href="/collection">Collection</a></li>
                <li><a href="/categorie">Catégorie</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"> <button> Page</button></a>
    </header>

    <div class="container">
        <form class="loginform" method="post" action="/login">
            <h2>{{ .Message }}</h2>
            <label>Pseudo :</label>
            <input type="text" name="pseudo" required>
            <label>Mot de passe :</label>
            <input type="text" name="password" required></input>
            <button type="submit">Envoyer</button>
        </form>
        <p>Vous n'avez pas de compte ?</p><a href="signup" class="signup">S'inscrire</a>
    </div>
</body>

</html>