<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/login.css">
</head>

<body>
    <header>
        <div class="logoname"><a href="/" class="logo-link"><img class="logo" src="/static/img/futurlogo.png"
                    alt="logo"></a>
            <a href="/" class="logo-link">
                <p class="nomsite">Canal Moins</p>
            </a>
        </div>
        <nav>
            <ul class="navlinks">
                <li class="link-collection"><a href="/collection">Collection</a></li>
                <li class="link-recherche"><a href="/recherche">Recherche</a></li>
                <li class="link-about"><a href="/about">À Propos</a></li>
            </ul>
        </nav>
        <a href="/recherche" class="link-recherche"><img src="/static/img/recherche.png" alt="Logo Recherche"></a>
        <a href="/ressources" class="link-ressources"><img src="/static/img/infos.png" alt="Logo Information"></a>
        <a href="/favoris" class="link-favoris"> <img src="/static/img/favoris.png" alt="Logo Favoris"></a>
        <a class="signbtn link-login" href="login"> <button>Se connecter</button></a>
    </header>

    <div class="container">
        <form class="loginform" method="post" action="/login">
            <h2>{{ .Message }}</h2>
            <label>Pseudo :</label>
            <input type="text" name="pseudo" required>
            <label>Mot de passe :</label>
            <input type="text" name="password" required></input>
            <button type="submit">Envoyer</button>
        </form>
        <p>Vous n'avez pas de compte ?</p><a href="/signup" class="signup">S'inscrire</a>
    </div>
</body>

</html>