<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ressources</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/recherche.css">
</head>

<body>
    <header>
        <a href="/"> <img class="logo" src="/static/img/futurlogo.png" alt="logo"></a>
        <p class="nomsite">Canal Moins</p>
        <nav>
            <ul class="navlinks">
                <li> <a href="/films">Films</a></li>
                <li><a href="/series">Séries</a></li>
                <li><a href="/collection">Collection</a></li>
                <li><a href="/categorie">Catégorie</a></li>
            </ul>
        </nav>
        <a><img src="/static/img/favorite_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="Logo Favoris"></a>
        <a><img src="/static/img/info_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="Logo information"></a>
        <a class="cta" href="login"> <button>Se connecter</button></a>



    </header>
</body>

</html>