<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/signup.css">
</head>

<body>
    <header>
        <a href="/"> <img class="logo" src="/static/img/futurlogo.png" alt="logo"></a>
        <nav>
            <ul class="navlinks">
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"> <button> Page</button></a>
    </header>

    <div class="container">
        <form class="signupform" method="post" action="/signup">
            <h2>{{ .Message }}</h2>
            <label>Pseudo :</label>
            <input type="text" name="pseudo" required>
            <label>Mot de passe :</label>
            <input type="text" name="password" required></input>
            <button type="submit">Envoyer</button>
        </form>
        <p>Vous avez déjà un compte ?</p><a href="login" class="login">Se connecter</a>
    </div>
</body>

</html>