/*On va utiliser ce style CSS pour les classes spécifiques à la page about*/
.social-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: 40px auto 40px;
  max-width: 650px;
  padding: 25px;
  background: white;
  flex: 1;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.social-link {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  margin: 10px 0;
  background: #f6f6f6;
  border-radius: 8px;
  color: #333;
}

.social-link:hover {
  background: #e0e0e0;
}

.social-link span {
  font-size: 16px;
  font-weight: bold;
}

.icons {
  width: 70px;
  height: 32px;
}