/*On va utiliser ce style CSS pour les classes spécifiques à la page collection*/

.eachfilm {
  padding: 20px;
  border-radius: 10px;
  width: 1300px;
}

.pfilmposter {
  width: 200px;
  border-radius: 10px;
}

.filmspopulaires {
}

.film {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
}

.releasedate {
  color: rgb(191, 191, 191);
  font-size: 13px;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  color: white;
  font-size: 20px;
  text-align: center;
}
