/*On va utiliser ce style CSS pour les classes spécifiques à la page index*/

.backgroundimg {
  display: none;
}

.accueil2 {
  border: 1px solid #233558;
  background-color: #101828;
  padding: 20px;
  border-radius: 10px;
  width: 1300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 20px auto;
  height: max-content;
  gap: 20px;
}

.accueil2 > div {
  background-color: #101828;
  height: 150px;
  width: 400px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: start;
  color: white;
  transition: transform 0.2s;
  flex-direction: column;
  border: 1px solid #233558;
  padding-left: 10px;
  padding-right: 10px;
}

.accueil2 > div > p {
  margin-top: 5px;
  color: rgb(216, 216, 216);
}

.accueil2 > div > h2 {
  margin-top: 5px;
}

.accueil2 > div:hover {
  transform: scale(1.05);
}

.accueil3 {
  border: 1px solid #233558;
  background-color: #101828;
  padding: 20px;
  border-radius: 10px;
  width: 1300px;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  height: max-content;
  flex-direction: column;
  gap: 20px;
}

.search {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background: #1e2939;
  border: 1px solid #7d7e7f;
  transition: box-shadow 0.25s;
}

.search:focus-within {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input {
  font-size: 16px;
  color: #333;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
  color: white;
}

.search-input::placeholder,
.seach-icon {
  color: rgba(125, 126, 127, 0.5);
}

h1 {
  color: white;
}

.icon {
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.iconcolor {
  border-radius: 15px;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  object-fit: contain;
  align-items: center;
}

.box1 .iconcolor {
  background: linear-gradient(135deg, #a855f7, #7e22ce);
}

.box2 .iconcolor {
  background: linear-gradient(135deg, #ef4444, #b91c1c);
}

.box3 .iconcolor {
  background: linear-gradient(135deg, #3b82f6, #1d4ed8);
}

.box4 .iconcolor {
  background: linear-gradient(135deg, #22c55e, #15803d);
}

.box5 .iconcolor {
  background: linear-gradient(135deg, #ec4899, #be185d);
}

.box6 .iconcolor {
  background: linear-gradient(135deg, #f97316);
}
