.search {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 28px;
  background: #f6f6f6;
  transition: box-shadow 0.25s;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}
.search:focus-within {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input {
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  color: #333;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
}

.search-input::placeholder,
.seach-icon {
  color: rgba(0, 0, 0, 0.5);
}

.eachfilm {
  padding: 20px;
  border-radius: 10px;
  width: 1300px;
}

.pfilmposter {
  width: 200px;
  border-radius: 10px;
}

.filmspopulaires {
}

.film {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}

.releasedate {
  color: rgb(191, 191, 191);
  font-size: 13px;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  color: white;
  font-size: 20px;
  text-align: center;
}
