.search {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 28px;
  background: #f6f6f6;
  transition: box-shadow 0.25s;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search:focus-within {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input {
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  color: #333;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
}

.search-input::placeholder,
.seach-icon {
  color: rgba(0, 0, 0, 0.5);
}
