/*On va utiliser ce style CSS pour toutes les classes globales qui sont communes à toutes les pages. */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #24252a;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  width: 100px;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 133, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0);
}

/*NAVBAR*/
nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
  padding: 0px 20px;
  position: relative;
}

.navlinks li a {
  transition: all 0.3s ease 0s;
  font-size: 20px;
}

.navlinks li:hover {
  background-color: rgba(0, 101, 127, 0);
}

/*MENU DEROULANT / DROPDOWN*/
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0f1012;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nomsite {
  text-transform: uppercase;
  color: #e50914;
}
